@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #6c8726;
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #6c8726;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6c8726;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #140e3a;
    border-radius: 4px;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #140e3a;
  }
}

.fade-animation img {
  /* animation: fadeAnimation 0.5s ease-out; */
  animation: fadeAnimation 0.5s ease-in;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
